{% extends "base.html" %}
{% block title %}Portafolio{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
  
    <div class="offset-md-4">
      <h1>Aqui puedes agregar Material al Curso</h1>
      
      <form method="POST" action="{{ url_for('archivos') }}" enctype="multipart/form-data">
          <p><input type="file" name="ourfile">
          <!-- id="selectarchivo"  lo recibo alla en el app por el post-->
          <select id="selectarchivo" name="selectarchivo">
            {% for option in range(0, cant_cursos) %}
                <option value="{{ cursos[option].id }}" >Selecciona el  {{cursos[option].nombre}}</option>
            {% endfor %}
          </select>
          <input button btn btn-primary type="submit" value="Guardar"></p>
        
      </form>
  
      
      
    </div> 
  </div>
</div>
 	
  
{% endblock %}
