{% extends "base.html" %}
{% block title %}Portafolio{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
    <h2>Mis Alumnos</h2>
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por Nombre.." title="Type in a name">

    <table id="myTable" table class="table">
  
      <thead>
        <tr class="header">
          <th scope="col">Alumno</th>
          <th scope="col">Encuesta</th>
          <th scope="col">Puntaje Encuesta</th>
          
        </tr>
      </thead>
      <tbody>
        {% for index in dataTable %}
          <tr>           
              <td>{{ index.nombreAlumno }}</td>
              <td>{{ index.nombreEncuesta }}</td>
              <td>{{ index.puntajeTotal }}</td>
                       
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <script>
      function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }
      </script>
  </div>
</div>
 	
  
{% endblock %}
