{% extends "base.html" %}
{% block title %}Portafolio{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
  
    <h2><b>Cursos</b></h2>  
    <div class="list-group">
      <table class="table table-bordered">
          <tr>
            <th>Nombre</th>
            {% if current_user.is_authenticated and current_user.is_admin() %}
            <td> <a class="btn btn-primary" href="{{url_for('cursos_new')}}" role="button">Nuevo Curso</a></td>
            <td><a class="btn btn-primary" href="{{url_for('preguntas_new')}}" role="button">Nueva Pregunta</a></td>
            {% endif %}
          </tr>
        {% for cur in cursos %}
          <tr>
            <td>{{cur.nombre}}</td>
            <td>{% if current_user.is_authenticated and current_user.is_admin() %}
              
              <td><a href="{{url_for('cursos_edit',id=cur.id)}}"><span class="glyphicon glyphicon-pencil"></span> Modificar Curso</a></td>
              <td><a href="{{url_for('cursos_delete',id=cur.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar Curso</a></td>
              <td><a href="{{url_for('cursos_ver',id=cur.id)}}"><span class="glyphicon glyphicon-pencil"></span> Ver Curso</a></td>
              
          {% endif %}</td>
            
          </tr>
        {% endfor %}
      </table>
    </div>  
  </div>
</div>
 	
  
{% endblock %}
