{% extends "base.html" %}
{% block title %}Portafolio{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
    
    <table class="table">
      <thead>
        <th><h2> <b> Nombre del Curso:</b>   {{curso[0].nombre}}</h2></th>
        <tr>
          <th scope="col">Alumnos</th>
          <th scope="col">Promedio Parcial</th>
         
          
        </tr>
      </thead>
      <tbody>
        {% for index in dataTable %}
          <tr>        
              <td>{{ index.nombreAlumno }}</td>
              <td>{{ index.promedio }}</td>
              
              
                         
          </tr>
        {% endfor %}
      </tbody>
    </table>
    
  </div>
</div>
 	
  
{% endblock %}

