{% extends "base.html" %}
{% block title %}Portafolio{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
  
    <h2><b>Encuestas</b></h2>   
    <div class="list-group">
      <table class="table table-bordered">
          <tr>
            <th>Nombre</th>
            {% if current_user.is_authenticated and current_user.is_admin() %}
            <td><a class="btn btn-primary" href="{{url_for('encuestas_new')}}" role="button">Nueva Encuesta</a></td>
            <td><a class="btn btn-primary" href="{{url_for('preguntas_new')}}" role="button">Nueva Pregunta</a></td>
            {% endif %}
          </tr>
      {% for enc in encuestas %}
        <tr>
          <td>{{enc.nombre}}</td>
          {% if current_user.is_authenticated and current_user.is_admin() %}
          
          <td><a href="{{url_for('encuestas_edit',id=enc.id)}}"><span class="glyphicon glyphicon-pencil"></span> Modificar Encuesta</a></td>
          <!-- <td><a href="{{url_for('encuestas_delete',id=enc.id)}}"><span class="glyphicon glyphicon-trash"></span> Borrar Encuesta</a></td> -->
          <td><a href="{{url_for('encuestas_verA',id=enc.id)}}"><span class="glyphicon glyphicon-search"></span> Ver</a></td>
          {%endif%}
        </tr>
      {% endfor %}


     
      </table>
    </div>  
  </div>
</div>
 	
  
{% endblock %}
